.admin {
  .navbar {
    margin-bottom: 40px;
  }

  form {
    padding-bottom: 50px;

    .col-form-label {
      text-align: right;
    }
  }

  .homepage, .doin, .shiatsu {
    #tabulations {
      justify-content: center;
    }

    #prestations, #shiatsu, #doin {
      margin-top: 30px;
    }

    .preview-shiatsu, .preview-doin {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .messages {
    table {
      margin-top: 30px;

      tr {
        &.read {
          background-color: rgba(0,0,0,.075);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    #showMessage {
      .message-content {
        margin-top: 15px;
      }
    }
  }
}