.home-shiatsu, .home-doin {

    text-align: center;
    margin-bottom: 1rem;

}

.white-background {
    background: rgba(255,255,255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    min-height: 260px;
}

.prestation-title {
    text-align: center;
    padding: 0.5rem;
}

.prestations-home {

    padding: 1rem;
    color: white;
    text-align: center;
}

.prestation {
    padding: 1rem;
    margin-bottom: 1rem;
    background: $primary-color;

    p {
        text-align: justify;
    }

    button {
        width: 100%;
    }
}

.home-form-container {
    h3 {
        text-align: center;
        font-size: 1rem;
    }

    button {
        min-width: 150px;
        padding: 0.5rem 2rem;
    }
}

.home-form {
    padding: 1rem 0;
}
