html,body {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.2;
}

p {
  margin: 0!important;
  padding: 1rem 0;
  font-family: 'Alegreya', serif;
}

a {
  text-decoration: none;
  font-family: 'Alegreya', serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0!important;
  font-family: 'Indie Flower', cursive!important;
}
