html,body {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.2;
}

p {
  margin: 0!important;
  padding: 1rem 0;
  font-family: 'Alegreya', serif;
}

a {
  text-decoration: none;
  font-family: 'Alegreya', serif;

  &.btn {
    font-family: inherit;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0!important;
  font-family: 'Indie Flower', cursive!important;
  font-size: 1.6rem;
}

/* Navigation */

.sendo-navbar {
  background: $primary-color;
  padding: 1rem 0 0 0;

  .navbar {
    padding: 1rem 0 0 0;
  }

  .navbar-brand {
    color: white;
    padding-bottom: 0;
  }

  .navbar-toggler {
    background: white;
    margin: 0 1rem 1rem 0;
  }

  .navbar-collapse {
    background: white;
    padding: 1rem;
  }
}

.logo-container-laptop {
    display: none;
}

.logo-container-mobile {
    padding: 0 1rem 1rem;
}
/* Footer */

footer {
  margin-top: 5rem;


  .footer-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      min-height: 200px;
  }

  .footer-social {
      flex-direction: row;

      p {
          padding: 1rem;

          .fab {
              font-size: 2rem;
          }
      }
  }
}

.green-block {
    background: $primary-color;
    text-align: center;
    color: white;


    a {
        display: block;
        color: white;
        text-decoration: none;
    }
}

.white-block {
    background: white;
    text-align: center;
    color: $primary-color;

    a {
        display: block;
        color: $primary-color;
        text-decoration: none;
    }
}

.logo-block {
    display: none;
}

.img-footer-container {
    width: 200px;

    img {
        width: 100%;
    }
}

/* Buttons */
.btn-custom-green {
    padding: 1rem 2rem;
    background: $primary-color;
    color: white !important;;

    &:hover, &:focus {
      background: white;
      color: $primary-color !important;;
      border: 1px solid $primary-color;
    }
}

.btn-custom-white {
    background: white;
    color: $primary-color !important;;
    border: 1px solid $primary-color;

  &:hover, &:focus {
    background: $primary-color;
    color: white !important;;
    border: 1px solid white;
  }
}
