@media screen and (min-width: 768px) {

    html, body {
        font-size: 18px;
    }
    .activites-home {
        display: flex;
        padding: 1rem 0 0 0;
    }

    .prestation {
        padding: 1rem 7rem;
    }
}

@media screen and (min-width: 1000px) {
    html, body {
        font-size: 14px;
    }
}
