@media screen and (min-width: 768px) {

    html, body {
        font-size: 18px;
    }
    .activites-home {
        display: flex;
        padding: 0;
    }

    .home-shiatsu, .home-doin {
        width:49.5%;

        p {
            min-height: 100px;
        }
    }

    .home-shiatsu {
        margin-right: 0.25%
    }

    .home-doin {
        margin-left: 0.25%;
    }

    .prestation {
        padding: 1rem 7rem;
    }
}

@media screen and (min-width: 1000px) {
    html, body {
        font-size: 16px;
    }

    .sendo-navbar {
        display: flex;
        align-items: flex-end;
        background: white;

        .navbar-collapse {
            background: $primary-color;
        }

        .nav-link {
            color: white!important;
        }
    }

    .logo-container-mobile {
        display: none;
    }

    .logo-container-laptop {
        display: block;
        width: 130px;
        padding: 0 0 0 1rem;

        img {
            width: 100%;
        }
    }

    .home-shiatsu, .home-doin {
        p {
            padding: 2rem 5rem;
        }
    }

    .prestations-home {
        display: flex;
        padding: 0;
    }

    .prestation {
        margin: 0.2%;
        text-align: center;
        padding: 1rem;
        width: 33%;

        p {
            text-align: center;
        }
    }

    .footer-container {
        display: flex;
    }

    .logo-block {
        display: block;
    }

    .footer-block {
        width: 15%;
    }

    .block-witness {
        width: 21%;
    }

    .img-footer-container {
        width: 100%;
    }

    .footer-social {
        flex-direction: column;
        width: 9%;
    }

}
