.shiatsu, .doin {
  .aside {
    .illustration {
      display: flex;
      justify-content: center;
    }

    .wellness-list {
      margin: 30px 0;
      border: dotted green;
      padding-top: 15px;
    }
  }
}