.shiatsu, .doin {
    padding-top: 1rem;
  .aside {
    .illustration {
      justify-content: center;

      img {
          width: 100%;
      }
    }

    .wellness-list {
      margin: 30px 0;
      border: dotted green;
      padding-top: 15px;
    }
  }
}
